.page {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 40px;
  font-family: var(--fonts);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* TITLE-DECOR */
.title-decor {
  background-color: var(--accent-color);
}

/* --HEADER-- */
.header {
  display: grid; 
  grid-template-rows: minmax(228px, 1fr) min-content minmax(228px, 1fr); 
  align-items: center;
  padding: 10px;
  min-height: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--header-corner-element);
  border-inline-end: 1px solid var(--header-corner-element);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--header-corner-element);
  border-inline-start: 1px solid var(--header-corner-element);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__decorative-element {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 11px;
  right: 20px;
  color: var(--header-decorative-element);
  text-transform: uppercase;
}

.header__decorative-element::after {
  content: '';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--header-decorative-element);
  box-shadow: 0px 0px 4px 2px var(--header-decorative-element);
  align-self: center;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 0 13px; 
  border: none;
  background-color: transparent;
  color: var(--button-color);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none; 
  border-bottom: 1px solid var(--button-focus-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-weight: bold;
  line-height: 23.4px;
  color: var(--sub-title-text-color);
}

/* --MAIN-- */
.main {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 50px;
  padding: 0 10px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  color: var(--article-title-color);
  font-size: 18px;
}

.article__sub-title {
  color: var(--sub-title-text-color);
  font-size: 18px;
}

.article__content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__content-block-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-block__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content-block__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content-block__link:focus {
  outline: none;
}

.content-block__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__content-block-title {
  font-size: 18px;
  color: var(--sub-title-text-color);
}

.article__content-block-sub-title {
  color: var(--sub-title-text-color);
  font-size: 18px;
  font-weight: normal;
}

/* MAIN IMAGE */

.article__image {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* --FOOTER-- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
