/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF; 
  --text-color: #F1B2CE;
  --sub-title-text: #000028; 
  --fonts: 'IBM Plex mono', Menlo, Consolas, monospace;
  --bg-image: url('../images/cover-image-dark.png');
}